    <% for (let station of stations) { %>
    <li class="stations-list__item <% if (trackedStations.find(obj => obj.stopId === station.stopId)) { %>stations-list__item--active<% } %>" stop-id=<%= station.stopId %>>
        <button class="station-button " stop-id=<%= station.stopId %>>
            <h3><%= station.name %></h3>
            <ul class="station-button__lines">
                <% for (let line of station.lines) {%>
                    <% if (line[1] == 'X') { %>
                        <li line="<%= line[0] %>" express>
                            <p><%= line[0] %></p>
                        </li>
                    <% } else if (line === 'GS') { %>
                        <li line="<%= line[1] %>">
                            <p><%= line[1] %></p>
                        </li>
                    <% } else { %>
                        <li line="<%= line %>">
                            <p><%= line %></p>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </button>
    </li>
    <% } %>