<input type="text" placeholder="<%= thisStation.name %>" class="station-selector__search-input">
<div class="station-selector">
    <ul class="station-selector__selection-indicator"></ul>
    <ul class="station-selector__list">
        <% for (let station of stations) { %>
            <li class="station-selector__station" data-name="<%=station.name%>" data-stopid=<%=station.stopId%>>
                <input type="checkbox">
                <p><%=station.name%></p>
                <% for (line of station.lines) { %>
                    <span class="station-selector__station-line" line=<%=line[0]%>><%=line%></span>
                <% } %>
            </li>
        <% } %>
    </ul>
    <a class="station-selector__submit" href="/web">Get arrivals</a>
</div>