<div class="search-bar">
    <input type="text" class="search-bar__input" placeholder="Search stations">
    <button class="search-bar__close-button">close</button>
</div>
<ul class="station-selector__selection-indicator">
    <!-- <% for (let station of trackedStations) { %>
        <button class="station-selector__selection-indicator-item" data-name="<%= station.name %>" data-stopid="<%= station.stopId %>">
            <p><%= station.name %></p>
            <% for (let line of station.lines) { %>
                <span line="<%= line %>"><%= line %></span>
            <% } %>
        </button>
    <% } %> -->
    <% for (let station of stations) { %>
        <button class="station-selector__selection-indicator-item <% if (trackedStations.find(obj => obj.stopId === station.stopId)) { %> station-selector__selection-indicator-item--active <% } %>" id="<%= station.stopId %>" data-name="<%= station.name %>">
            <p><%= station.name %></p>
            <% for (let line of station.lines) { %>
                <span line="<%= line %>"><%= line %></span>
            <% } %>
        </button>
    <% } %>
</ul>
<div class="station-selector">
    <ul class="station-selector__list">
        <% for (let station of stations) { %>
            <li class="station-selector__station" data-name="<%=station.name%>" id=<%=station.stopId%>>
                <input type="checkbox" id="<%= station.stopId %>-check" <% if (trackedStations.find(obj => obj.stopId === station.stopId)) { %>checked<% } %>>
                <label for="<%= station.stopId %>-check"><%=station.name%></label>
                <% for (line of station.lines) { %>
                    <span class="station-selector__station-line" line=<%=line[0]%>><%=line%></span>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>