
	<%- include('partials/_header') %>

<main>
	<%- include('partials/_stationselector') %>
	<ul>
		<% for (let i = 0; i < 6; i ++) {
			let routeColor, routeTextColor;
			for (route of routes) {
				if (route.routeId == arrivals[i].routeId) {
					routeColor = route.color;
					routeTextColor = route.textColor || '000000';
				}
			} %>
			<li class="arrival">
				<h3 line="<%= arrivals[i].routeId %>"><%= arrivals[i].routeId %></h3>
				<p><% if (arrivals[i].direction == "N") { %>Northbound<%} else { %>Southbound<%} %></p>
				<p><%= arrivals[i].minutesUntil %> min</p>
			</li>
		<% } %>
	</ul>
</main>

	<%- include('partials/_footer') %>

