<%- include('partials/_head') %>
<main>
	<%- include('partials/_header') %>
	<%- include('partials/_sign-mockup') %>
	<div class="tab-panel tab-panel--active tab-panel--stations">
		<%- include('partials/_active-stations-list') %>
		<button class="edit-stations">
			<img src="../img/search.svg" alt="">
			Edit stations
		</button>
	</div>
	<div class="tab-panel tab-panel--options">
		options
	</div>
	<%- include('partials/_tabs') %>
</main>
<%- include('partials/_footer') %>

