<%- include('partials/_head') %>
<main class="">
	<%- include('partials/_header') %>
	<%- include('partials/_sign-mockup') %>
	<div class="tab-panel__frame tab-panel__frame--left">
		<div class="tab-panel tab-panel--stations">
			<%- include('partials/_active-stations-list') %>
			<%- include('partials/_search-results') %>
			<%- include('partials/_search-bar') %>
		</div>
		<div class="tab-panel tab-panel--options">
			<%- include('partials/_options') %>
		</div>
	</div>
	<%- include('partials/_tabs') %>
	<%- include('partials/_power-dialog') %>
</main>
<%- include('partials/_footer') %>

