
	<%- include('partials/_header') %>

<main>
	<select name="Stations" id="stop-selector">
		<% for (station of stations) { %>
			<option value="<%= station.stopId %>"><%= station.name %> (<% station.lines.forEach(item => { %>
				<%= item %>, 
			<% }) %>)</option>
		<% } %>
	</select>
	<ul>
		<% for (let i = 0; i < 6; i ++) {
			let routeColor, routeTextColor;
			for (route of routes) {
				if (route.routeId == arrivals[i].routeId) {
					routeColor = route.color;
					routeTextColor = route.textColor;
				}
			} %>
			<li>
				<h3 style="background-color: <%= routeColor %>; color: <%= routeTextColor %>"><%= arrivals[i].routeId %></h3>
				<p><% if (arrivals[i].direction == "N") { %>Northbound<%} else { %>Southbound<%} %></p>
				<p><%= arrivals[i].minutesUntil %> min</p>
			</li>
		<% } %>
	</ul>
</main>

	<%- include('partials/_footer') %>

