
	<%- include('partials/_header') %>

<main>
	<%- include('partials/_stationselector') %>
	<ul class="arrivals">
		<% for (let arrivalItem of arrivals) {
			let routeColor, routeTextColor;
			for (route of routes) {
				if (route.routeId == arrivalItem.routeId) {
					routeColor = route.color;
					routeTextColor = route.textColor || '000000';
				}
			} %>
			<li class="arrivals__item">
				<h3 line="<%= arrivalItem.routeId %>"><%= arrivalItem.routeId %></h3>
				<p><% if (arrivalItem.direction == "N") { %>Northbound<%} else { %>Southbound<% } %></p>
				<p <% if (arrivalItem.minutesUntil == 0) { %>class="warn"<% } %> ><%= arrivalItem.minutesUntil %> min</p>
			</li>
		<% } %>
	</ul>
	<button class="submit" href="/web?stops=">Set stops</a>
    
</main>

	<%- include('partials/_footer') %>

